/* .ant-tabs-nav .ant-tabs-tab {
    background-color: #CFE1B9 !important;
    margin: 0;
}
.ant-tabs-nav .ant-tabs-tab-active {
    background-color: #B6C99B !important;
}
.ant-tabs-content-holder {
    background-color: #B6C99B !important;
    
} */